[package]
name = "sub"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = "0.4.26"
serde = { version = "1.0.164", features = ["derive"] }
serde_json = "1.0.97"
tracing = "0.1.37"
tracing-subscriber = "0.3.17"
