permissions:
  contents: read
on:
  push:
    branches: [main]
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
name: test
jobs:
  test:
    runs-on: ubuntu-latest
    name: ${{ matrix.toolchain }} / test
    strategy:
      matrix:
        toolchain: [stable]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install ${{ matrix.toolchain }}
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}
        uses: taiki-e/install-action@cargo-tarpaulin
      - name: cargo nextest run --all
        run: cargo nextest run --all
      - name: cargo test --doc
        run: cargo test --doc
